{ extends "admin-base.html" }
{ block head }
  {{ parent() }}
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/articles.css">
{ endblock }
{ block title }Admin{ endblock }
{ block page_title }Works{ endblock }
{ block link_1 }active{endblock}
{ block content }
  <section>
    <article>
      <div class="article__content">
        <h3>Add Work</h3>
        <p class="article__subtitle"></p>
        <p class="article__description">Add an entry for your portfolio to impress your visitors!</p>
        <a href="/admin/work" class="article__cta">Add Work</a>
      </div>
    </article>
    { for work in works }
    <article>
      <div class="article__content">
        <h3>{{ work.title }}</h3>
        <p class="article__subtitle">{{ work.subtitle }}</p>
        <p class="article__description">{{ work.description }}</p>
        <a href="/admin/work/{{ work.id }}" class="article__cta">Edit</a>
      </div>
    </article>
    { endfor }
  </section>
{ endblock }