{ extends "admin-base.html" }
{ block head }
  {{ parent() }}
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/articles.css">
{ endblock }
{ block title }Admin{ endblock }
{ block page_title }Works{ endblock }
{ block link_1 }active{endblock}
{ block content }
  <section>
    <article>
      <div class="article__content">
        <h3>Add Work</h3>
        <p class="article__subtitle"></p>
        <p class="article__description">Add an entry for your portfolio to impress your visitors!</p>
        <a href="/admin/work" class="article__cta">Add Work</a>
      </div>
    </article>
    <article>
      <div class="article__content">
        <h3>Sample</h3>
        <p class="article__subtitle">April 2018 - Present</p>
        <p class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente deserunt et voluptate numquam doloribus corporis quis quas, labore unde. Sapiente laboriosam illum beatae id voluptates quia est explicabo a accusantium.</p>
        <a href="#" class="article__cta">Edit</a>
      </div>
    </article>
    <article>
      <div class="article__content">
        <h3>Sample</h3>
        <p class="article__subtitle">April 2018 - Present</p>
        <p class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente deserunt et voluptate numquam doloribus corporis quis quas, labore unde. Sapiente laboriosam illum beatae id voluptates quia est explicabo a accusantium.</p>
        <a href="#" class="article__cta">Edit</a>
      </div>
    </article>
    <article>
      <div class="article__content">
        <h3>Sample</h3>
        <p class="article__subtitle">April 2018 - Present</p>
        <p class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente deserunt et voluptate numquam doloribus corporis quis quas, labore unde. Sapiente laboriosam illum beatae id voluptates quia est explicabo a accusantium.</p>
        <a href="#" class="article__cta">Edit</a>
      </div>
    </article>
    <article>
      <div class="article__content">
        <h3>Sample</h3>
        <p class="article__subtitle">April 2018 - Present</p>
        <p class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente deserunt et voluptate numquam doloribus corporis quis quas, labore unde. Sapiente laboriosam illum beatae id voluptates quia est explicabo a accusantium.</p>
        <a href="#" class="article__cta">Edit</a>
      </div>
    </article>
  </section>
{ endblock }