<!DOCTYPE html>
<html lang="en">
<head>
  { block head }
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/admin.css">
  <title>{ block title }{ endblock } | Edcel Celiz</title>
  { endblock }
</head>
<body>
  { block body }
  <div class="container">
    <nav>
      <ul>
        <li><a href="/admin" class="{ block link_1 }{ endblock }">Works</a></li>
        <li><a href="/admin/settings" class="{ block link_2 }{ endblock }">Settings</a></li>
        <li><a href="/admin/logout" class="{ block link_3 }{ endblock }">Logout</a></li>
      </ul>
    </nav>
    <main>
      { block content }
      { endblock}
      <footer>
        Edcel Celiz &copy; {{ "now"|date("Y") }}
      </footer>
    </main>
  </div>
  { endblock }
</body>
</html>