{ extends "base.html" }
{ block head }
  {{ parent() }}
  <link rel="stylesheet" href="/css/contact.css">
{ endblock }
{ block title }Contact{ endblock }
{ block menu_2 }active{ endblock }
{ block page_title }Contact{ endblock }
{ block content }
  <div class="contact__container">
    <section>
      <form action="/contact/inquire" method="POST">
        <h3>Contact Form</h3>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name" required>
        <label for="email">E-mail Address</label>
        <input type="email" name="email" id="email" placeholder="E-mail Address" required>
        <label for="message">Message</label>
        <textarea name="message" id="message" placeholder="Enter your message here..." autocomplete="off" required></textarea>
        <input type="submit">
      </form>
    </section>
    <section>
      <h3>Contact Information</h3>
      <ul>
        <li>Phone Number: <a href="tel:{{ user.phone }}">{{ user.phone }}</a></li>
        <li>E-mail Address: <a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
        <li>Facebook: <a href="{{ user.facebook }}">{{ user.facebook }}</a></li>
        <li>GitHub: <a href="{{ user.github }}">{{ user.github }}</a></li>
      </ul>
    </section>
  </div>
{ endblock }