{ extends "base.html" }
{ block head }
  {{ parent() }}
  <link rel="stylesheet" href="/css/articles.css">
{ endblock }
{ block title }Oops! Error{ endblock }
{ block page_title }You encountered an error!{ endblock }
{ block content }
  <article>
    <div class="article__content">
      <h3>404 - Page Not Found</h3>
      <p class="article__subtitle">{{ "now"|date("F m, Y h:i:s A") }}</p>
      <p class="article__description">Looks like the page you are looking for doesn't exist! There is nothing to be seen here, you can go back to home.</p>
      <a href="/" class="article__cta">Back to Home</a>
    </div>
  </article>
{ endblock }