{ extends "base.html" }
{ block head }
  {{ parent() }}
  <link rel="stylesheet" href="/css/articles.css">
{ endblock }
{ block name }{{ name }}{ endblock }
{ block description }{{ description }}{ endblock }
{ block title }Works{ endblock }
{ block menu_1 }active{ endblock }
{ block page_title }Works{ endblock }
{ block content }
{ for work in works }
  { if work.image }
  <article class="article--{ if loop.index is odd}left{ else }right{ endif }">
    <div class="article__image">
      <img src="/{{ work.image }}" alt="{{ work.title }} Image">
    </div>
    <div class="article__content">
      <h3>{{ work.title }} {{ loop.index is odd }}</h3>
      <p class="article__subtitle">{{ work.subtitle }}</p>
      <p class="article__description">{{ work.description }}</p>
      <a href="{{ work.link_url }}" class="article__cta">{{ work.link_text }}</a>
    </div>
  </article>
  { else }
  <article>
    <div class="article__content">
      <h3>{{ work.title }}</h3>
      <p class="article__subtitle">{{ work.subtitle }}</p>
      <p class="article__description">{{ work.description }}</p>
      <a href="{{ work.link_url }}" class="article__cta">{{ work.link_text }}</a>
    </div>
  </article>
  { endif }
{ endfor }
{ endblock }