<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio Login</title>
</head>
<body>
  <form action="/admin/login" method="POST">
    <input value="{{token}}" type="hidden" name="token" required>
    <input type="text" name="username" placeholder="Username" minlength="6" autocomplete="off" required>
    <input type="password" name="password" placeholder="Password" minlength="6" required>
    <input type="submit">
  </form>
</body>
</html>