@import 'theme';
@import 'common';

article {
  @extend %flexbox;
  @extend %boxshadow;
  flex-wrap: nowrap;
  margin-top: 2em;
  background-color: $white;
  padding: 1em;
  .article__image {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    img {
      width: 100%;
    }
  }
  .article__subtitle {
    margin: .25em 0 1em;
    color: #aaa;
    font-size: 14px;
  }
  .article__cta {
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
    padding: .75em;
    border-radius: 2px;
    font-weight: 600;
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    color: $white;
  }
  .article__cta:hover {
    transition: ease .25s;
    background-color: $white;
    color: $secondary-color;
  }
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    .article__image {
      margin: auto;
    }
    .article__content {
      padding: 0;
      h3 {
        margin-top: .5em;
      }
      h3, .article__subtitle {
        text-align: center;
      }
      .article__cta {
        display: block;
        text-align: center;
      }
    }
  }
}
article:first-of-type {
  @media screen and (max-width: 960px) {
    margin-top: 0;
  }
}

.article--left {
  .article__content {
    padding-left: 1em;
  }
}

.article--right {
  flex-direction: row-reverse;
  .article__content {
    text-align: right;
    padding-right: 1em;
  }
  @media screen and (max-width: 768px) {
    .article__content {
      flex-direction: column-reverse;
      text-align: left;
    }
  }
}

.article--left, .article--right {
  @media screen and (max-width: 768px) {
    .article__content {
      padding: 0;
    }
  }
}