@import 'theme';
@import 'common';

.contact__container {
  display: flex;
  align-items: flex-start;

  section {
    @extend %boxshadow;
    width: 50%;
    margin-top: 1em;
    padding: 1em;
    background-color: $white;
  }

  section:first-child {
    margin-right: 1em;
  }

  form {
    label {
      display: inline-block;
      margin-top: .5em;
    }
    input, textarea {
      padding: .75em;
      outline: none;
      border: 2px solid #aaa;
      border-radius: 2px;
      margin-top: .5em;
      width: 100%;
    }
    input[type="submit"] {
      cursor: pointer;
      color: $white;
      background-color: $secondary-color;
      font-weight: 600;
      border: 2px solid $secondary-color;
    }
    input[type="submit"]:hover {
      transition: ease .25s;
      color: $secondary-color;
      background-color: $white;
    }
    input[type="submit"].danger {
      background-color: rgba(255, 0, 0, 0.808);
      border: 2px solid rgba(255, 0, 0, 0.808);
    }
    input[type="submit"].danger:hover {
      background-color: $white;
      color: rgba(255, 0, 0, 0.808);
    }
    textarea {
      resize: vertical;
      min-height: 5em;
      height: 10em;
    }
  }

  ul li {
    list-style: none;
    margin-top: .5em;
    a {
      color: $links;
    }
  }

  @media screen and (max-width: 960px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    section {
      width: 100%;
      margin: 0;
    }
    section:first-child {
      margin: 0;
    }
    section:last-child {
      margin-bottom: 1em;
    }
  }
}